html{
    font-size: 62.5%;
}

body{
    display: flex;
    height: 100vh;
}

html, body{
    height: 100%;
}

.circle{
    display: flex;
    justify-content: space-evenly;
}

.circle__gray{
    display: flex;
    flex-shrink: 1;

    width: 3.5rem;
    height: 3.5rem;
    background: #c4c4c4;
    border-radius: 2rem;
}

.circle__red{
    display: flex;
    flex-shrink: 1;

    width: 3.5rem;
    height: 3.5rem;
    background: #DD5252;
    border-radius: 2rem;
}
