.contract__button {
    display: flex;
    justify-content: center;
    
    background: #F12711;
    color: #FFFFFF;
    font-weight: 700;
    font-size: calc(1rem + 1.2vw);

    width: 40%;
    margin: 2% auto auto 53%;
    padding: 1rem 0;
    
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25), 
                0 .4rem .4rem rgba(0, 0, 0, 0.25);
    
    transition: filter .5s;
}
    
.contract__button:hover {
    cursor:pointer;
    transform: scale(1.1);
}


@media(min-width:600px) {
    .contract__button {
        font-size: 1.6rem;
    }

}

@media(min-width:1600px) {
    .contract__button {
        font-size: calc(1.4rem + 1.4vh);
    }
}